.coverage

__pycache__
node_modules
testmedia
media
htmlcov
staticfiles
_test-output
.vscode/
.idea/
db.sqlite3
geckodriver.log
npm-debug.log

*.pyc
*.env
*.log
*.pid
!systemjs.config.js
!karma.conf.js
!karma-test-shim.js
!protractor.conf.js
